      <!-- FOOTER -->
      <div class="navbar navbar-fixed-bottom">
      	<a href=""><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href=""><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>

        <p class="rss-subscribe">
          Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS.</a> <br />
          {{ site.title }} &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> &middot;
        </p>
      </div>